#root > div:nth-child(1) > div > div > a {
    display: none;
}
/* 
#root > div:nth-child(1) > div.withScreencast > div > div > header > div.st-emotion-cache-zq5wmm.ezrtsby0 {
    display: none;
} */

footer.st-emotion-cache-cio0dv {
    display: none;
}

/* #root > div:nth-child(1) > div.withScreencast > div > div > header {
    display: none;
} */

.st-emotion-cache-15zrgzn {
    display: none;
}

.titulo-youtube {
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}
.titulo-tube {
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px;

}
.titulo-you {
    color: black;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 2px;

}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(7) :hover{
    animation: jello 3s ease-in-out infinite alternate;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(4) :hover {
    animation: jello 3s ease-in-out infinite alternate;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(3) :hover {
    animation: jello 3s ease-in-out infinite alternate;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(6) :hover {
    animation: jello 3s ease-in-out infinite alternate;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(8) :hover {
    animation: jello 3s ease-in-out infinite alternate;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1cypcdb.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(9) :hover {
    animation: jello 3s ease-in-out infinite alternate;
}


@keyframes jello {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.01, 0.99, 1);
    }
    40%, 60%, 80% {
        transform: scale3d(0.99, 1.01, 1);
    }
}